<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="jumbotron">
  <h2>Tic Tac Toe</h2>
  <p>An elegant gentleman's game from a simpler time.</p>
</div>

<h3>Games</h3>

<div id="root"></div>
<%= javascript_pack_tag 'home/games' %>
